<% @messages.each do |message| %>

    <p><%= message.user.email %>: </p>
      <p><%= message.text %></p>
      <p><%= link_to "comments(#{message.comments.count})", message_path(message.id) %> </p>
    <% if current_user == message.user %>
      <p><%= link_to 'edit', edit_message_path(message) %></p>
      <p><%= link_to 'delete', message_path(message), method: :delete%></p>
    <% end %>

<% end %>

<% if current_user %>
  <%= render 'form' %>
<% end %>
