<p class='message-text'><%= @message.text %></p>

<% @message.comments.each do |comment| %>
  <p><%= comment.user.email %>:</p>
  <p class='comment-text'><%= comment.text %></p>
  <p><%= comment.time.strftime('%A at %H:%M') %></p>

  <% if current_user == comment.user %>
    <p><%= link_to 'delete comment', [comment.message, comment], method: :delete %></p>
  <% end %>

<% end %>

<% if current_user %>
  <%= form_for([@message, @message.comments.build]) do |f| %>
    <p><%= f.text_area :text %></p>
    <p><%= f.submit 'comment', :class => 'comment-button' %></p>
  <% end %>
<% end %>

<p><%= link_to 'all messages', messages_path %></p>
