<p><%= @message.user.email %>:</p>
<p class='message-text'><%= @message.text %></p>

<% @message.comments.each do |comment| %>

  <div class='message-elements'>
    <p><%= comment.user.email %>:</p>
    <p class='comment-text'><%= comment.text %></p>
    <p><%= comment.time.strftime('%A at %H:%M') %> |
    <% if current_user == comment.user %>
      <%= link_to 'delete', [comment.message, comment], method: :delete %> |
      <%= link_to 'edit', edit_message_comment_path(comment.message, comment) %></p>
    <% end %>
  </div></br>

<% end %>

<% if current_user %>
  <%= form_for([@message, @message.comments.build]) do |f| %>
    <p><%= f.text_area :text %></p>
    <p><%= f.submit 'comment', :class => 'comment-button' %></p>
  <% end %>
<% end %>

<p><%= link_to 'all messages', messages_path %></p>
