<p><%= @message.text %></p>
<% @message.comments.each do |comment| %>
  <p><%= comment.user.email %>:</p>
  <p><%= comment.text %></p>

  <% if current_user == comment.user %>
    <%= link_to 'delete comment', [comment.message, comment], method: :delete %>
  <% end %>

<% end %>

<% if current_user %>
  <%= form_for([@message, @message.comments.build]) do |f| %>
    <%= f.text_area :text %>
    <%= f.submit 'comment' %>
  <% end %>
<% end %>

<p><%= link_to 'all messages', messages_path %></p>
