<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'login-box' %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'login-box' %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
  <% end -%>

  <p class="actions">
    <%= f.submit "log in", :class => 'message-button' %>
  </p>
<% end %>

<%= link_to "forgotten password?", new_password_path('user') %>
