<!DOCTYPE html>
<html>
  <head>
    <title>WeThree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
  </head>

  <body>

    <p class='we-three'> we three </p>

    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <p>logged in as <%= current_user.email %> |
      <%= link_to "log out", destroy_user_session_path, method: :delete %> |
      <%= link_to 'edit account', edit_user_registration_path(current_user) %></p>
    <% else %>
      <p><%= link_to "sign up", new_user_registration_path %> |
      <%= link_to "log in", new_user_session_path %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
